<h1>Add item</h1>

<%= form_for @item do |f| %>
  <p>
      <%= f.label :name %><br>
      <%= f.text_field :name %>
  </p>
  <p>
      <%= f.label :value %><br>
      <%= f.text_area :value %>
  </p>
  <p>
  <%= f.submit :Submit %>
  </p>
<% end %>